.container {
  height: 100vh;

  padding: 0.45rem;
}

.titulo {
  padding: 1rem;
  width: 15rem;
}

.titulo h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: rgba(130, 40, 141, 255);
}

.cards {
  width: 58rem;
  height: 36rem;

  padding: 1rem 2rem;

  overflow-y: scroll;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-flow: row wrap;

  box-sizing: border-box;

  /* border: 1px solid black; */
}

.card {
  margin-top: 1rem;
}
