.slide {
  width: 26.5rem;
  height: 100vh;

  border-right: 0.15rem solid orange;
}

.box-create {
  width: 25rem;
  height: 25rem;

  padding: 2rem 1.5rem;

  /* border: 1px solid rgb(0, 0, 0); */
}

.container .box-create .titulo h1 {
  font-weight: 700;

  color: rgba(130, 40, 141, 255);
}

.container .box-create .form form {
  /* border: 1px solid black; */

  padding: 1rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 1.6rem;
}
.container .box-create .form form input {
  padding: 1rem;
  width: 21rem;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container .box-create .form form input.text {
  height: 5.5rem;
}

.button-orange {
  margin-left: auto;
}

.button-orange2 {
  display: none;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;

  font-weight: 400;

  background: rgb(226, 148, 4);

  color: #fff;

  transition: 2s filter;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

@media (max-width: 414px) {
  .slide {
    /* width: 100vh; */
    /* height: 100vh; */

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-create {
    /* border: 1px solid black; */
    width: 100vw;
    height: 25rem;

    margin-right: auto;

    padding: 2rem 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container .box-create .titulo h1 {
    font-size: 2.4rem;
  }

  .button-orange {
    align-self: center;
    margin-left: 0;
  }
  .button-orange2 {
    display: block;
    align-self: center;
    margin-left: 0;
  }

  button {
    width: 8rem;
    height: 3rem;
  }
}
