* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
}

.create-node {
  height: 100vh;

  border: 1px solid orange;
}

@media (max-width: 360px) {
  .list-notes {
    display: none;
  }
}

@media (max-width: 411px) {
  .list-notes {
    display: none;
  }
}

@media (max-width: 414px) {
  .list-notes {
    display: none;
  }
}
