* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
}

.create-note {
  position: fixed;
  width: 26.5rem;
  height: 100vh;

  background: #fff;
}

.container .list-notes {
  width: calc(100% - 26.5rem);
  margin-left: auto;
  overflow: scroll;
}

@media (max-width: 360px) {
  .list-notes {
    display: none;
  }
}

@media (max-width: 411px) {
  .list-notes {
    display: none;
  }
}

@media (max-width: 414px) {
  .list-notes {
    display: none;
  }
}
